<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <h2>Welcome to my Chat application</h2>
    <h1>{{group}}</h1>
    {{ group |json_script:"group_name" }}
    <textarea  id="chat-log" cols="80" rows="20">
        {%for chat in chat%}
    {{chat.content}}
    {%endfor%}
    </textarea><br>
    <input type="text" id="message" size="86" placeholder="type your message here"><br>
    <div align="right"><input type="button" id="submit" value="send" align="right"></div>





    <script>
        const group_name = JSON.parse(document.getElementById("group_name").textContent)
    
    
    var ws = new WebSocket ('ws://127.0.0.1:8000/ws/asc/'+group_name+'/')
        
    ws.onopen = function (event) {
        console.log('connection establised sucessfuly');

    }

    ws.onmessage = function (event) {
        console.log('message received', event);
        var message = event.data
        console.log(message);
        var textarea = document.getElementById("chat-log");
        textarea.value+=message + '\n';

    }
 
    ws.onerror = function (event) {
        console.log('some technical error ocured');
    }

    ws.disconnect = function (event) {
        console.log('connection has been disconnected', event);


    }



// code for sending message on submit button action...
    document.getElementById("submit").onclick = function (event){
        const msg = document.getElementById("message").value;
        console.log('before', typeof(msg))
        console.log('this is message', msg);
        msgf = JSON.stringify(msg)
        ws.send(msg)
        document.getElementById("message").value = ''



       }
        

    </script>


</body>
</html>